/* font */
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*  {
    padding: 0;
    margin: 0;
}

/* body */
body {
    overflow: hidden;
    background-color: #89897F;
}

/* navbar */
.navbar {
    background: white fixed;
    height: 50px;
}

.navbar-nav ul{
    list-style: none;
    display: flex;
    gap : 2rem;
    justify-content: center;
    position: relative;
    top: 15px;
    left: 500px;
}

.navbar-nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-size: 17px;
    font-style: normal;
    transition: 500ms;
}

.navbar-nav ul li a:hover{
    padding-bottom: 3px;
    border-bottom: 1px solid #D8CBB6;
    color: #D8CBB6;
}

button{
    display: none;
}


/* content */
.content-b{
    background-color: #A9B795;
    height: 500px;
    width: 1100px;
    position: relative;
    top: 50px;
    left: 125px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px;
}

.content p {
    position: relative;
    top: 150px;
    left: 200px;
    font-size: 60px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content img {
    position: relative;
    border-radius: 50%;
    top: -50px;
    left: 650px;
}


@media (max-width: 600px) {
    .body{
    overflow-x: hidden;
}

    .navbar {
    background: white fixed;
    height: 50px;
    width: 1000px;
}

.navbar-nav ul{
    display: none;
}

.navbar button {
    position: relative;
    border: none;
    left: 500px;
    display: flex;
    justify-content: flex-end; /* Dorong konten ke kanan */
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    z-index: 1000;
}



/* content */
.content-b{
    background-color: #A9B795;
    height: 1000px;
    width: 600px;
    position: relative;
    top: 50px;
    left: 125px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px;
}

.content p {
    position: relative;
    top: 100px;
    left: 150px;
    font-size: 60px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content img {
    position: relative;
    border-radius: 50%;
    top: 200px;
    left: 170px;
}

}