/* font */
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*  {
    padding: 0;
    margin: 0;
}

/* body */
body {
    overflow: hidden;
    background-color: #89897F;
}

/* navbar */
.navbar {
    background: white fixed;
    height: 50px;
}

.navbar-nav ul{
    list-style: none;
    display: flex;
    gap : 2rem;
    justify-content: center;
    position: relative;
    top: 15px;
    left: 500px;
}

.navbar-nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-size: 17px;
    font-style: normal;
    transition: 500ms;
}

.navbar-nav ul li a:hover{
    padding-bottom: 3px;
    border-bottom: 1px solid #D8CBB6;
    color: #D8CBB6;
}

/* content */
.content-s{
    background-color: #A9B795;
    height: 500px;
    width: 1100px;
    position: relative;
    top: 50px;
    left: 125px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px;
}

.content-soft {
    position: relative;
    background-color: black;
    border: 1px solid black;
    height: 40px;
    width: 250px;
    border-radius: 50px;
    top: -250px;
    left: 170px;
}

.content-soft p{
    color: white;
    position: relative;
    top: 8px;
    left: 85px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
}

.soft-skil {
    position: relative;
    top: -250px;
    left: 100px;
    font-size: 18px;
}

.content-hard {
    position: relative;
    background-color: black;
    border: 1px solid black;
    height: 40px;
    width: 250px;
    border-radius: 50px;
    top: -290px;
    left: 700px;
}

.content-hard p{
    color: white;
    position: relative;
    top: 8px;
    left: 85px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
}

.hard-skil {
    position: relative;
    top: -380px;
    left: 650px;
    font-size: 18px;
}

.border {
    border-left: 2px solid black;
    position: relative;
    top: 130px;
    left: 550px;
    height: 300px;
}